# Go
*.exe
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# Wails
build/bin/
dist/
frontend/dist/
frontend/src/wailsjs/

# wintun
build/windows/wintun.dll

# Data & logs
*.log
*.db
 Zem/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml
